@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

*,*::before, *::after{
box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust:100%;
}

header{
  padding:0;
  text-align: center;
  background-color: pink;
  color:white;
  overflow:hidden;
  font-family: 'Lobster';
}

main{
  background-color: #a64a4f;
  overflow: hidden;
  clear: both;
}

.me{
  display:block;
  margin:0;
  width:100%;
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  line-height: 1.5em;
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 0.5em;
}

h1{
    width:80%;
    float: left;
    text-align: center;
    padding: 0.5em;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lobster';
}

h2{
  color: white;
  clear: both;
  text-align: center;
  font-size: 16px;
  padding: 1em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: white;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0.75em;
}

a:hover{
color: pink;
}

/*large screen*/
@media only screen and (min-width: 60em) {
html {
  font-size: 120%;
  line-height: 1.5
}
