@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

*,*::before, *::after{
box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust:100%;
}

*, *::before, *::after{
  box-sizing: inherit;
}

header{
  padding:0;
  text-align: center;
  background-color: pink;
  color:white;
  overflow:hidden;
}

main{
  background-color: #d98156;
  overflow: hidden;
  clear: both;
}

body{
  font-family: "Merriweather";
  margin: 0;
  line-height: 1.5em;
  font-size: 12px;
}

h1{
    width:80%;
    float: left;
    text-align: center;
    padding: 0.5em;
    margin:0;
    box-sizing: border-box;
}

h2{
  background-color: #d98156;
  color: white;
  clear: both;
  text-align: center;
  font-size: 16px;
  padding: 1em;
  margin: 0;
}

a{
  color: white;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0.75em;
  border-top: 1px solid #a4403b;
  border-bottom: 1px solid #a4403b;
}

a:hover{
color: #a4403b;
}


.p1{
  clear:right;
}

.p2{
  clear: left;
  margin: 0.75em;
}


footer{
  color: #d98156;
  background-color: #cd5b34;
  clear: both;
  font-size: 10px;
  padding: 1em;
  text-align: center;
}


body {
  font-size:0.75rem;
  margin:0;
  font-family: 'Cabin', sans-serif;
}

header {
text-align:center;
}


h1 {
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  margin: 0;
  clear:both;
}
